#map {
  width: 35vw;
  height: 29.5rem;
}

.sectionone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
  height: 25rem;
  gap: 1rem;
  border: 2px solid black;
  padding: 2rem;
  background-color: beige;
}
